.footer {
    background-color: #212129;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  
  .footer-section {
    margin: 10px;
  
  }

 
  
  .api-list  {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    gap: 20px;
  }
  
  .api-list div:hover {
    text-decoration: underline;
    color: orange;
  }
  
  .server-stat,
  .logos,
  .social-media-logos,
  .by-alex {
    font-size: 14px;
  }


.server-stat {
    display: flex;
    align-items: center;
    cursor: pointer;
   gap: 8px;
  }
  
  .server-stat p {
    margin-left: 10px; 
    margin: 0;
  }
  
 
  .green-dot {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: #4CAF50; 
    border-radius: 50%;
  }
  
  
  .logos img {
    height: 40px; 
    margin: 0 10px;
  }
  
  .social-media-logos i {
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .social-media-logos i:hover {
    color: orange;
  }
  